/* nav bar css*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
html,
body {
  margin: 0;
  background: #222;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  padding: 0;
}

.containerNav {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #00000034;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px 0;
  inline-size: 20ch;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  letter-spacing: 3px;
}

nav li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 18px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #444;
}

nav a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #444;
  position: absolute;
  -webkit-transition: all ease-in-out 650ms;
  transition: all ease-in-out 650ms;
}

nav a:hover::before {
  width: 100%;
}

.toggleMenu {
  font-size: 1.3em;
  display: none;
  color: #ccc;
  position: relative;
  width: 1cm;
}

.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

@media screen and (max-width: 991px) {
  .toggleMenu {
    display: block;
    max-width: 100px;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: calc(100% - 70px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
    max-width: 225px;
    max-height: 400px;
    overflow: hidden;
    display: none;
    height: 0;
  }
  .navlink {
    text-align: center;
  }
  .nav-active {
    top: 70px;
    display: block;
    opacity: 85%;
    height: 100%;
  }
  .logo {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 10px 0;
    inline-size: 20ch;
    margin: 1em;
  }
}

/* contact css */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* input & textfield styles */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 5px;
}

input[type="text"]:hover,
textarea:hover {
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
  color: #444;
  opacity: 0.7;
}

input[type="submit"] {
  background-color: #6e6e6e;
  opacity: 0.6;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #444;
  opacity: 80%;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}

/* contact section */
.container {
  border-radius: 5px;
  background-color: #222;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* responsive */
@media only screen and (max-width: 991px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #ccc;
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
  border-radius: 5px;
}

.responsive iframe:hover {
  opacity: 0.7;
  -webkit-transition: ease-in-out 600ms;
  transition: ease-in-out 600ms;
}

/* required fields */
input:required {
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea:required {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*# sourceMappingURL=contact.css.map */
